<a href="https://colab.research.google.com/github/rogersirius2023/Atvidades/blob/main/Projeto_Volvo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
df1 = pd.read_excel('/content/drive/MyDrive/Volvo/23w06_Equipamentos.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Volvo/23w06_SeriesTemporais_Horimetros.xlsx')

In [ ]:
# Avaliando  todas as colunas 
pd.pandas.set_option('display.max_columns', None)
df1.head()

In [ ]:
# Excluir a colunas de (Obs)
df1.drop('Obs.:', axis=1, inplace=True)
df1.head()

In [ ]:
# Avaliando se a erro no DataFrame1
df1.info()

In [ ]:
# Avaliando as m√©dias contagens df1
df1.describe()

In [ ]:
# Avaliando  todas as colunas 
pd.pandas.set_option('display.max_columns', None)
df2.head()

In [ ]:
df2.dropna(axis=1, how='all', inplace=True)
df2.head()

In [ ]:
# Avaliando se a erro no DataFrame2 
df2.info()

In [ ]:
df2.describe()

In [ ]:
#Avaliando DataFrame1
df1.head()

In [ ]:
#Avaliando DataFrame2
df2.head()

In [ ]:
df2.describe()

In [ ]:
df_combined = pd.concat([df1, df2], axis=0)
df_combined.head()